.custom-link {
  position: relative;
  color: black;
  text-decoration: none;

  &:hover {
    color: var(--primary-100);

    &::after {
      width: 100%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -33px;
    left: 0;
    background-color: var(--primary-100);
    transition: width 0.3s ease;
  }
}
.drawer-link {
  font-weight: 600;
  font-size: 18px;
  &:hover {
    color: var(--primary-100);
  }
}
