.image-container {
  overflow: hidden; /* Hide overflow to ensure zoomed image stays within bounds */
  position: relative; /* Position relative for absolute positioning of inner elements */
  max-height: 450px; /* Set max height */
}

.zoom-image {
  transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

.image-container:hover .zoom-image {
  transform: scale(1.1); /* Scale the image on hover */
}
